.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    border: 6px rgb(201, 176, 133) solid;
}

h1 {
    font-weight: bold;
}

p {
    width: 700px;
}