body {
    background-color: silver;
}

p {
    margin-right: 800px;
}
.percent {
    color: red;
    border: royalblue;
    border-style: solid;
    border-width: thin;
    border-radius: 1px;
}
.title {
    color: white;
    font-size: x-large;
    font-family: sans-serif;
    font-weight: bolder;
    border-style:solid;
    border-color: rgb(171, 180, 180);
    border-radius: 5px;
    
}

