
#title {
    font-size: x-large;
    font-family: sans-serif;
    font-weight: bolder;
    border-style:solid;
    border-color: rgb(171, 180, 180);
    border-radius: 5px;
}
#percent {
    font-weight: bold;
    color: red;
}
