.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
    background-color: beige;
    border: 6px rgb(201, 176, 133) solid;
}
body {
    background-color: azure;
}

h1 {
    font-weight: bold;
    color: rgb(196, 186, 173);
}



p {
    width: 750px;
}