.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    border: 6px rgb(201, 176, 133) solid;
}

h1 {
    font-weight: bold;
    color: rgb(196, 186, 173);
}

.link {
    
    color: grey;
    font-size: 15px;
    font-weight: lighter;
    align-self: flex-start;
    border: solid red 2px;
}

p {
    width: 700px;
}